In [1]:
#RETAIL SALES DATA ANALYSIS
import pandas as pd


data = {
    "OrderID": list(range(1001, 1021)),
    "Customer": ["Amit", "Neha", "Ravi", "Priya", "Karan", "Suman", "Ankit", "Ravi", "Neha", "Amit",
                 "Priya", "Amit", "Neha", "Suman", "Karan", "Ravi", "Amit", "Priya", "Ankit", "Neha"],
    "Product": ["Laptop", "Phone", "Tablet", "Headphones", "Laptop", "Phone", "Smartwatch", "Laptop", "Tablet", "Phone",
                "Headphones", "Laptop", "Smartwatch", "Laptop", "Phone", "Tablet", "Phone", "Laptop", "Headphones", "Tablet"],
    "Category": ["Electronics", "Electronics", "Electronics", "Accessories", "Electronics",
                 "Electronics", "Accessories", "Electronics", "Electronics", "Electronics",
                 "Accessories", "Electronics", "Accessories", "Electronics", "Electronics",
                 "Electronics", "Electronics", "Electronics", "Accessories", "Electronics"],
    "Quantity": [1, 2, 1, 3, 1, 2, 1, 2, 2, 1,
                 3, 1, 1, 2, 1, 1, 2, 1, 4, 2],
    "Price": [60000, 20000, 15000, 2000, 62000, 21000, 8000, 58000, 15500, 22000,
              2500, 70000, 7500, 59000, 23000, 16000, 21000, 72000, 2000, 15000],
    "City": ["Delhi", "Mumbai", "Delhi", "Bangalore", "Chennai", "Delhi", "Mumbai", "Delhi", "Bangalore", "Chennai",
             "Mumbai", "Delhi", "Bangalore", "Chennai", "Delhi", "Mumbai", "Delhi", "Bangalore", "Chennai", "Delhi"],
    "Date": pd.date_range("2025-01-01", periods=20, freq="D")
}

df = pd.DataFrame(data)
df["Total_Amount"] = df["Quantity"] * df["Price"]
print(df)
print("\nTotal sales of the entire database:\n",df["Total_Amount"].sum())
print("\nTotal sales done in every city :\n",df.groupby("City")["Total_Amount"].sum())
print("\nAverage quantity of products purchased by each customer :\n",df.groupby("Customer")["Quantity"].mean().round(2))
top_3_cus=df.groupby("Customer")["Total_Amount"].sum()
print("\nTop 3 customer who spent the highest amount:\n",top_3_cus.nlargest(3))
popular_product_qty=df.groupby("Product")["Quantity"].sum()
print("\n The most popular product is :\n",popular_product_qty.idxmax(),"---",popular_product_qty.max())
print("\nTotal revenue generated bvy each product is :\n",df.groupby("Product")["Total_Amount"].sum())
high_rev_city=df.groupby("City")["Total_Amount"].sum()
print("\nThe city which have highest revenue is:\n",high_rev_city.idxmax(),"---",high_rev_city.max())
print("\n Average Order value of the city :\n",df.groupby("City")["Total_Amount"].mean().round(2))
max_order_no=df.groupby("Customer")["OrderID"].count()
print("\nThe customer who placed maximum number of order is :\n",max_order_no.idxmax(),"---",max_order_no.max())
high_avg_pro=df.groupby("Product")["Price"].mean()
print("\nThe product with highest average price is:\n",high_avg_pro.idxmax(),"---",high_avg_pro.max())
print("\nTotal Quantity sold for each product in each city:\n",df.groupby(["City","Product"])["Quantity"].sum())
print("\n Top 2 cities who generated highest revenue\n",high_rev_city.nlargest(2))
print("\n Average Total  amount spending of each customer in each city:\n",\
      df.groupby(["Customer","City"])["Total_Amount"].mean().round(2))
high_rev_pro=df.groupby(["City","Product"])["Total_Amount"].sum() 
print("\nRevenue of each product in each city:\n", high_rev_pro)
print("\nthe products who generated highest revenue in according to thier city is :")
for city in df["City"].unique():
    city_data=high_rev_pro[city]
    top_product=city_data.idxmax()
    top_revenue=city_data.max()
    print(f"{city} : {top_product}---{top_revenue}")
cust_pro_spending=df.groupby(["Customer","Product"])["Total_Amount"].sum()
print("\nCustomer spending total amount on every product:\n",cust_pro_spending)
max_spent_product = cust_pro_spending.groupby("Customer").idxmax()
print(max_spent_product)
max_spent_value = cust_pro_spending.groupby("Customer").max()
print(max_spent_value)
print("\n Customer wise most spent Product:")
for cust,prod in max_spent_product.items():
    print(f"\n {cust} : {prod[1]} ---- {max_spent_value[cust]}")
print("\n Average spending per order of each customer:\n")
print(df.groupby("Customer")["Total_Amount"].sum()/df.groupby("Customer")["OrderID"].count())
high_avg_rev_pro=df.groupby("Product")["Total_Amount"].mean()
print("\n Product who generated Highest Revenue :\n",high_avg_rev_pro.idxmax(),"---",high_avg_rev_pro.max())   

uni_pro=df.groupby("Customer")["Product"].nunique()
print("\nNo. of unique product bought by each customer:\n",uni_pro)
pro_count=df.groupby("Customer")["Quantity"].sum()
max_qty=pro_count.max()
top_cust=pro_count[pro_count==max_qty]
print("\nHighest no. of product brought by this customers:\n")
for cust,qty in top_cust.items():
    print(cust,"---",qty)
# print(pro_count)
# print("\nhighest no. of product bought by the customer is: \n",pro_count.idxmax(),"---",pro_count.max())
day_sales=df.groupby(df["Date"].dt.day)["Total_Amount"].sum()
print("Day Wise Sales:\n",day_sales)
print("Highest Sales Generated on Day:",day_sales.idxmax(),"---",day_sales.max()) 
week_sales=df.groupby(df["Date"].dt.isocalendar().week)["Total_Amount"].sum()
print("\nWeek Wise Sales:\n",week_sales)
print("Highest week sales happen on week :",week_sales.idxmax(),"---",week_sales.max())
print("\n Each customer spent average amount on each product:\n")
print(df.groupby(["Customer","Product"])["Total_Amount"].mean().round(2))
cat_high_rev=df.groupby("Category")["Total_Amount"].sum()
print("\n the Category which generated the highest reveue is :\n",cat_high_rev.idxmax(),"---",cat_high_rev.max())
print("\n The top 2 product who were sold at highest quantity are:\n",df.groupby("Product")["Quantity"].sum().nlargest(2))
high_rev_cust=df.groupby(["City","Customer"])["Total_Amount"].sum()
print("\ncity wise customer who generated highest revenue:\n")
for city in df["City"].unique():
    city_data=high_rev_cust[city]
    top_customer=city_data.idxmax()
    top_rev=city_data.max()
    print(f"{city}--{top_customer}--{top_rev}")

print("\nDESCRIPTIVE STATS OF DATA BASE:\n")
print(df[["OrderID","Quantity","Price","Total_Amount"]].describe().round(2))
df["Cumulative Sale"]=df["Total_Amount"].cumsum()
print(" Cumulative sale:\n",df["Cumulative Sale"])
cust_contri=(df.groupby("Customer")["Total_Amount"].sum()/df["Total_Amount"].sum()*100).round(2)
city_contri=(df.groupby("City")["Total_Amount"].sum()/df["Total_Amount"].sum()*100).round(2)
product_contri=(df.groupby("Product")["Total_Amount"].sum()/df["Total_Amount"].sum()*100).round(2)
category_contri=(df.groupby("Category")["Total_Amount"].sum()/df["Total_Amount"].sum()*100).round(2)
print("\nCustomer contribution for revenue:\n",cust_contri)
print("\nCity contribution for revenue:\n",city_contri)
print("\nProduct contribution for revenue:\n",product_contri)
print("\nCategory contribution for revenue:\n",category_contri)
print("\nMost Profitable product Category is :",category_contri.idxmax(),"---",category_contri.max())
cust_freq=df.groupby("Customer")["OrderID"].count()
max_freq=cust_freq.max()
loyal_cust=cust_freq[cust_freq==max_freq]
for cust,freq in loyal_cust.items():
    print(f"most loyal custometrs are: {cust}---{freq}")
#recency:har customer ne kitne din phele order kia tha
last_date=df["Date"].max()
recency=df.groupby("Customer")["Date"].max().apply(lambda x: (last_date-x).days)
#frequency
frequency=df.groupby("Customer")["OrderID"].count()
#monetory
monetory=df.groupby("Customer")["Total_Amount"].sum()
#RFM analysis
rfm=pd.DataFrame({"Recency(days)":recency,
                  "Frequency":frequency,
                  "Monetory":monetory})
print("Correlation Check:\n",df[["Quantity","Price","Total_Amount"]].corr())
rfm.to_csv("RFM.csv",index=False)
df.to_csv("retailsanalysis.csv",index=False)

    OrderID Customer     Product     Category  Quantity  Price       City  \
0      1001     Amit      Laptop  Electronics         1  60000      Delhi
1      1002     Neha       Phone  Electronics         2  20000     Mumbai
2      1003     Ravi      Tablet  Electronics         1  15000      Delhi
3      1004    Priya  Headphones  Accessories         3   2000  Bangalore
4      1005    Karan      Laptop  Electronics         1  62000    Chennai
5      1006    Suman       Phone  Electronics         2  21000      Delhi
6      1007    Ankit  Smartwatch  Accessories         1   8000     Mumbai
7      1008     Ravi      Laptop  Electronics         2  58000      Delhi
8      1009     Neha      Tablet  Electronics         2  15500  Bangalore
9      1010     Amit       Phone  Electronics         1  22000    Chennai
10     1011    Priya  Headphones  Accessories         3   2500     Mumbai
11     1012     Amit      Laptop  Electronics         1  70000      Delhi
12     1013     Neha  Smartwatch  Accessories         1   7500  Bangalore
13     1014    Suman      Laptop  Electronics         2  59000    Chennai
14     1015    Karan       Phone  Electronics         1  23000      Delhi
15     1016     Ravi      Tablet  Electronics         1  16000     Mumbai
16     1017     Amit       Phone  Electronics         2  21000      Delhi
17     1018    Priya      Laptop  Electronics         1  72000  Bangalore
18     1019    Ankit  Headphones  Accessories         4   2000    Chennai
19     1020     Neha      Tablet  Electronics         2  15000      Delhi

         Date  Total_Amount
0  2025-01-01         60000
1  2025-01-02         40000
2  2025-01-03         15000
3  2025-01-04          6000
4  2025-01-05         62000
5  2025-01-06         42000
6  2025-01-07          8000
7  2025-01-08        116000
8  2025-01-09         31000
9  2025-01-10         22000
10 2025-01-11          7500
11 2025-01-12         70000
12 2025-01-13          7500
13 2025-01-14        118000
14 2025-01-15         23000
15 2025-01-16         16000
16 2025-01-17         42000
17 2025-01-18         72000
18 2025-01-19          8000
19 2025-01-20         30000

Total sales of the entire database:
 796000

Total sales done in every city :
 City
Bangalore    116500
Chennai      210000
Delhi        398000
Mumbai        71500
Name: Total_Amount, dtype: int64

Average quantity of products purchased by each customer :
 Customer
Amit     1.25
Ankit    2.50
Karan    1.00
Neha     1.75
Priya    2.33
Ravi     1.33
Suman    2.00
Name: Quantity, dtype: float64

Top 3 customer who spent the highest amount:
 Customer
Amit     194000
Suman    160000
Ravi     147000
Name: Total_Amount, dtype: int64

 The most popular product is :
 Headphones --- 10

Total revenue generated bvy each product is :
 Product
Headphones     21500
Laptop        498000
Phone         169000
Smartwatch     15500
Tablet         92000
Name: Total_Amount, dtype: int64

The city which have highest revenue is:
 Delhi --- 398000

 Average Order value of the city :
 City
Bangalore    29125.0
Chennai      52500.0
Delhi        49750.0
Mumbai       17875.0
Name: Total_Amount, dtype: float64

The customer who placed maximum number of order is :
 Amit --- 4

The product with highest average price is:
 Laptop --- 63500.0

Total Quantity sold for each product in each city:
 City       Product
Bangalore  Headphones    3
           Laptop        1
           Smartwatch    1
           Tablet        2
Chennai    Headphones    4
           Laptop        3
           Phone         1
Delhi      Laptop        4
           Phone         5
           Tablet        3
Mumbai     Headphones    3
           Phone         2
           Smartwatch    1
           Tablet        1
Name: Quantity, dtype: int64

 Top 2 cities who generated highest revenue
 City
Delhi      398000
Chennai    210000
Name: Total_Amount, dtype: int64

 Average Total  amount spending of each customer in each city:
 Customer  City
Amit      Chennai       22000.00
          Delhi         57333.33
Ankit     Chennai        8000.00
          Mumbai         8000.00
Karan     Chennai       62000.00
          Delhi         23000.00
Neha      Bangalore     19250.00
          Delhi         30000.00
          Mumbai        40000.00
Priya     Bangalore     39000.00
          Mumbai         7500.00
Ravi      Delhi         65500.00
          Mumbai        16000.00
Suman     Chennai      118000.00
          Delhi         42000.00
Name: Total_Amount, dtype: float64

Revenue of each product in each city:
 City       Product
Bangalore  Headphones      6000
           Laptop         72000
           Smartwatch      7500
           Tablet         31000
Chennai    Headphones      8000
           Laptop        180000
           Phone          22000
Delhi      Laptop        246000
           Phone         107000
           Tablet         45000
Mumbai     Headphones      7500
           Phone          40000
           Smartwatch      8000
           Tablet         16000
Name: Total_Amount, dtype: int64

the products who generated highest revenue in according to thier city is :
Delhi : Laptop---246000
Mumbai : Phone---40000
Bangalore : Laptop---72000
Chennai : Laptop---180000

Customer spending total amount on every product:
 Customer  Product
Amit      Laptop        130000
          Phone          64000
Ankit     Headphones      8000
          Smartwatch      8000
Karan     Laptop         62000
          Phone          23000
Neha      Phone          40000
          Smartwatch      7500
          Tablet         61000
Priya     Headphones     13500
          Laptop         72000
Ravi      Laptop        116000
          Tablet         31000
Suman     Laptop        118000
          Phone          42000
Name: Total_Amount, dtype: int64
Customer
Amit          (Amit, Laptop)
Ankit    (Ankit, Headphones)
Karan        (Karan, Laptop)
Neha          (Neha, Tablet)
Priya        (Priya, Laptop)
Ravi          (Ravi, Laptop)
Suman        (Suman, Laptop)
Name: Total_Amount, dtype: object
Customer
Amit     130000
Ankit      8000
Karan     62000
Neha      61000
Priya     72000
Ravi     116000
Suman    118000
Name: Total_Amount, dtype: int64

 Customer wise most spent Product:

 Amit : Laptop ---- 130000

 Ankit : Headphones ---- 8000

 Karan : Laptop ---- 62000

 Neha : Tablet ---- 61000

 Priya : Laptop ---- 72000

 Ravi : Laptop ---- 116000

 Suman : Laptop ---- 118000

 Average spending per order of each customer:

Customer
Amit     48500.0
Ankit     8000.0
Karan    42500.0
Neha     27125.0
Priya    28500.0
Ravi     49000.0
Suman    80000.0
dtype: float64

 Product who generated Highest Revenue :
 Laptop --- 83000.0

No. of unique product bought by each customer:
 Customer
Amit     2
Ankit    2
Karan    2
Neha     3
Priya    2
Ravi     2
Suman    2
Name: Product, dtype: int64

Highest no. of product brought by this customers:

Neha --- 7
Priya --- 7
Day Wise Sales:
 Date
1      60000
2      40000
3      15000
4       6000
5      62000
6      42000
7       8000
8     116000
9      31000
10     22000
11      7500
12     70000
13      7500
14    118000
15     23000
16     16000
17     42000
18     72000
19      8000
20     30000
Name: Total_Amount, dtype: int64
Highest Sales Generated on Day: 14 --- 118000

Week Wise Sales:
 week
1    183000
2    296500
3    286500
4     30000
Name: Total_Amount, dtype: int64
Highest week sales happen on week : 2 --- 296500

 Each customer spent average amount on each product:

Customer  Product
Amit      Laptop         65000.0
          Phone          32000.0
Ankit     Headphones      8000.0
          Smartwatch      8000.0
Karan     Laptop         62000.0
          Phone          23000.0
Neha      Phone          40000.0
          Smartwatch      7500.0
          Tablet         30500.0
Priya     Headphones      6750.0
          Laptop         72000.0
Ravi      Laptop        116000.0
          Tablet         15500.0
Suman     Laptop        118000.0
          Phone          42000.0
Name: Total_Amount, dtype: float64

 the Category which generated the highest reveue is :
 Electronics --- 759000

 The top 2 product who were sold at highest quantity are:
 Product
Headphones    10
Laptop         8
Name: Quantity, dtype: int64

city wise customer who generated highest revenue:

Delhi--Amit--172000
Mumbai--Neha--40000
Bangalore--Priya--78000
Chennai--Suman--118000

DESCRIPTIVE STATS OF DATA BASE:

       OrderID  Quantity     Price  Total_Amount
count    20.00     20.00     20.00         20.00
mean   1010.50      1.70  28575.00      39800.00
std       5.92      0.86  24514.38      34017.57
min    1001.00      1.00   2000.00       6000.00
25%    1005.75      1.00  13250.00      13250.00
50%    1010.50      1.50  20500.00      30500.00
75%    1015.25      2.00  58250.00      60500.00
max    1020.00      4.00  72000.00     118000.00
 Cumulative sale:
 0      60000
1     100000
2     115000
3     121000
4     183000
5     225000
6     233000
7     349000
8     380000
9     402000
10    409500
11    479500
12    487000
13    605000
14    628000
15    644000
16    686000
17    758000
18    766000
19    796000
Name: Cumulative Sale, dtype: int64

Customer contribution for revenue:
 Customer
Amit     24.37
Ankit     2.01
Karan    10.68
Neha     13.63
Priya    10.74
Ravi     18.47
Suman    20.10
Name: Total_Amount, dtype: float64

City contribution for revenue:
 City
Bangalore    14.64
Chennai      26.38
Delhi        50.00
Mumbai        8.98
Name: Total_Amount, dtype: float64

Product contribution for revenue:
 Product
Headphones     2.70
Laptop        62.56
Phone         21.23
Smartwatch     1.95
Tablet        11.56
Name: Total_Amount, dtype: float64

Category contribution for revenue:
 Category
Accessories     4.65
Electronics    95.35
Name: Total_Amount, dtype: float64

Most Profitable product Category is : Electronics --- 95.35
most loyal custometrs are: Amit---4
most loyal custometrs are: Neha---4
Correlation Check:
               Quantity     Price  Total_Amount
Quantity      1.000000 -0.435972     -0.156060
Price        -0.435972  1.000000      0.860098
Total_Amount -0.156060  0.860098      1.000000